* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents overflow on the html element */
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
}

main {
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

div.top {
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: center;
}

/* Crypto Styles */
div#crypto {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  opacity: 0.6;
  border-radius: 1rem;
  color: black;
  border: none;
}

div#crypto > p {
  margin: 0;
  align-self: center;
  padding-bottom: 1rem;
}

div#crypto-top {
  display: flex;
  align-items: center;
  margin: 1rem;
}

div#crypto-top > span {
  margin-left: 50px;
}

div#crypto-top > img {
  margin-right: 10px;
}
